<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Burger</title>
</head>
<body>
    
<h1>Bem-vindo ao Dev Burger!</h1>
<p>Explore nossos deliciosos hambúrgueres e faça seu pedido online.</p>
<p>Faça sugestões de sabores</p>

<form action="/sugestao" method="GET">

    <label for="nome">Nome:</label>
    <input type="text" id="Nome" name="nome" required>

    <label for="ingredientes">Ingredientes:</label>
    <input type="text" id="Ingredientes" name="ingredientes" required>

    <button type="submit">Enviar</button>
</form>

<h1>Deseja entrar em contato?</h1>
<a href="/contato">Ir para o contato</a>

</body>
</html>