<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Burger</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header class="header-index">
        <div class="container-header">
                 <h1>Bem-vindo ao Dev Burger!</h1>
            <p class="p-header">Explore nossos deliciosos hambúrgueres e faça seu pedido online</p>
            
       
        </div>
   
        
    </header>

    <main class="container">

       

            <h1>Faça sua sugestão</h1>
        <section class="container-form">
                <form action="/sugestao" method="GET" class="form-sugestao">

                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" id="Nome" name="nome" required>
                    </div>
                
                    <div class="form-group">
                        <label for="ingredientes">Ingredientes:</label>
                        <input type="text" id="Ingredientes" name="ingredientes" required>
                    </div>

                    <div class="form-group">
                        <button type="submit">Enviar</button>
                    </div>

                    </form>
                
        </section>

            
        
            

<section class="button-voltar">
            <div class="container-voltar">
                <h1>Deseja ver o cardapio?</h1>
                <a href="/api/lanches">ir para o cardapio</a>
            </div>
            <div class="container-voltar">
                <h1>Deseja entrar em contato?</h1>
                <a href="/contato">Ir para o contato</a>

            </div>
</section>


        








    </main>


    <footer class="footer">
        <p>DevBurger Higor Estevão Todos direitos reservados</p>
        
    </footer>



</body>
</html>